
<style>
    .fondo-pantalla{
        background-image: url("img/fondo-pedidos.png");
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<div class="container text-center">
    <div class="fondo-pantalla">
    <hr>
    <h2>
        <br>
        Pedido <br> Menu Click
    </h2>
    <h4>
    <br>
        Chequeá Pedidos 
    </h4>
    <br>
</div>

<div class="container text-center">
    <table class="table table-striped container" id="mitabla">
        <thead>
            <tr>
                <th scope="col">idMenus</th>
                <th scope="col">Menu</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            {{#each datos}}
            <tr>
                <th scope="row">{{ this.idMenus }}</th>
                <td>{{ Menu }}</td>
                <td>{{ precio }}</td>
                <td>

                <a href="javascript:void(0);" class="btn btn-danger delete"  data-idMenus="{{ idMenus }}" style="color: white">Delete</a>
                <a href="javascript:void(0);" class="btn btn-success edit" data-idMenus="{{ idMenus }}" data-Menu="{{ Menu }}" data-precio="{{ precio }}" style="color: white">Update</a>
                        
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</div>


{{!-- modal delete --}}
<form action="/delete" method="post">
    <div class="modal" id="DeleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Menú</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de eliminar su elección?.</p>
                </div>
                <div class="modal-footer">
                    <input type="number" name="idMenus" id="idMenus" required>
                    <button type="button" class="btn btn-success">Cerra</button>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</form>

{{!-- modal update --}}
<form action="/update" method="post">
    <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title fs-5" id="exampleModalLabel">Cambiar Menú</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                        <div class="mb-3">
                            <label for="menu" class="col-form-label">Menú:</label>
                            <input type="text" class="form-control Menu" id="Menu" name="Menu">
                        </div>  
                    
                        <div class="mb-3">
                            <label for="precio" class="col-form-label">Precio:</label>
                            <input type="number" class="form-control precio" id="precio" name="precio">
                        </div>                                            
                
                <div class="modal-footer">
                    <input type="number" name="idMenus" id="idMenus" class="idMenus">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Update </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

{{!-- Funcion para tomar datos del modal --}}

<script>

    $(document).ready(function () {

            /*--Modal Delete --*/
            $('#mitabla').on('click', '.delete', function () {
                let idMenus = $(this).data('idMenus');
                $('#DeleteModal').modal('show')
            })  
        
            /*--Modal Update --*/
            $('#mitabla').on('click', '.edit', function () {
                let idMenus = $(this).data('idMenus');
                let Menu = $(this).data('menu');
                let precio = $(this).data('precio');
                $('#EditModal').modal('show');
                $('.Menu').val(Menu);
                $('.precio').val(precio)
            })
    })
</script>